<launch>

  <arg name="launch_prefix" default="" /> <!-- set to value="gdbserver localhost:10000" for remote debugging -->
  <arg name="node_namespace" default="apriltag_ros_continuous_node" />
  <arg name="camera_frame" default="ep_camera_frame" />
  <arg name="image_topic" default="/ep_image" />

  <!-- Set parameters -->
  <rosparam command="load" file="$(find ep_bringup)/config/tags_settings.yaml" ns="$(arg node_namespace)" />
  <rosparam command="load" file="$(find ep_bringup)/config/tags.yaml" ns="$(arg node_namespace)" />

  <node pkg="apriltag_ros" type="apriltag_ros_continuous_node" name="$(arg node_namespace)" output="log" clear_params="true"  launch-prefix="$(arg launch_prefix)" >
    <!-- Remap topics from those used in code to those on the ROS network -->
    <remap from="image_rect" to="/ep_image" />
    <remap from="camera_info" to="/ep_camInfo" />

    <param name="camera_frame" type="str" value="$(arg camera_frame)" />
    <param name="publish_tag_detections_image" type="bool" value="true" />

  </node>
</launch>

