<launch>
    <!-- Run the ep_base nodes -->
    <include file="$(find ep_bringup)/launch/ep_base.launch"/>
    <!-- Run the ep_base nodes -->
    <include file="$(find ep_bringup)/launch/ep_localization.launch"/>
    <!--      --><!-- Run the map -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="test"
          args="0.03 0.0 0.285 -1.571 0.0 -1.7453 base_link ep_camera_frame"/>

</launch>
